--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
fastmcp>=2.10.0
transformers>=4.51.0
torch>=2.3.0
pinecone>=6.0.0
pypdf>=5.0.0
python-dotenv>=1.1.0
llama-cpp-python==0.3.30
ragas==0.2.15
langchain-community==0.3.27
